snippet func "inserting a function"
  ${1:function_name} <- function(${2:parameters}){
    ${0}
  }

snippet main "R equivalent to python if __name__ == '__main__'"
  if (sys.nframe() == 0) {
    ${0}
  }
